{% extends "base.html" %} {% block content %}
  <head><link rel="stylesheet" href="../static/css/style1.css" /></head>
      <article>
        <section class="section-1">
          <div class="about-1">
            <h2 class="about-title-1">О проекте</h2>
            <div class="about-content-1">
              C целью привлечения новых инвестиций в благотворительный фонд
              Tooba и помощи нуждающимся наша команда решила создать
              приложение-метвселенную, платежи с которого будут перечисляться в
              благотворительный фонд
            </div>
          </div>
          <div class="about-2">
            <h2 class="about-title-2">Tooba</h2>
            <div class="about-content-2">
              это частный благотворительный проект, представленный в виде
              приложения, позволяющий собирать средства благотворительным
              фондам.
            </div>
          </div>
        </section>
        <section class="section-2">
          <div class="section-title-2-decor"></div>
          <div class="section-title-2">
            Играй прямо на карте!<span class="grey">МЕТАВСЕЛЕННАЯ</span>
          </div>
          <div class="section-map-2"></div>
        </section>
        <section class="section-3">
          <h2 class="team-title">Наша команда</h2>
          <div class="team-members">
            <div class="team-member muhtar">
              <div class="muhtar-image"></div>
              <div class="names muhtar-name">Мухтар</div>
              <div class="abouts muhtar-about">Frontend сайта и дизайн</div>
            </div>
            <div class="team-member shapi">
              <div class="shapi-image"></div>
              <div class="names shapi-name">Шапи</div>
              <div class="abouts shapi-about">
                Менеджер команды, геймификация приложения, игровые механики,
                frontend игры
              </div>
            </div>
            <div class="team-member ulubi">
              <div class="ulubi-image"></div>
              <div class="names ulubi-name">Улубий</div>
              <div class="abouts ulubi-about">Backend сайта и функции</div>
            </div>
          </div>
        </section>
        <section class="section-4">
          <h2 class="news-title">Новости</h2>
          <div class="news">
            <div class="left-arrow"><div class="left-arrow-icon"></div></div>
            <div class="news-1">
              <div class="news-1-content">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime
                excepturi asperiores quibusdam nam fuga harum odit molestiae
                dignissimos totam animi!
              </div>
            </div>
            <div class="news-2">
              <div class="news-2-content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed
                ducimus deleniti excepturi perferendis veniam eius, pariatur
                consequuntur rem porro voluptatem quasi perspiciatis in labore,
                cum assumenda enim? Nemo, modi fuga.
              </div>
            </div>
            <div class="right-arrow"><div class="right-arrow-icon"></div></div>
          </div>
        </section>
      </article>
  <script src="../static/js/script.js"></script>
{% endblock %}