{% extends "base.html" %} {% block content %}
<head><link rel="stylesheet" href="../static/css/style2.css" /></head>
<main>
      <div class="leaderboard-title">Leaderboard</div>
      <div class="leaderboard">
        <div class="leaderboard-cell cell1">
          <div class="rating">1</div>
          <div class="stats"></div>
        </div>
        <div class="leaderboard-cell cell2">
          <div class="rating">2</div>
          <div class="stats"></div>
        </div>
        <div class="leaderboard-cell cell3">
          <div class="rating">3</div>
          <div class="stats"></div>
        </div>
        <div class="leaderboard-cell cell4">
          <div class="rating">4</div>
          <div class="stats"></div>
        </div>
        <div class="leaderboard-cell cell5">
          <div class="rating">5</div>
          <div class="stats"></div>
        </div>
        <div class="leaderboard-cell cell6">
          <div class="rating">6</div>
          <div class="stats"></div>
        </div>
        <div class="leaderboard-cell cell7">
          <div class="rating">7</div>
          <div class="stats"></div>
        </div>
        <div class="leaderboard-cell cell8">
          <div class="rating">8</div>
          <div class="stats"></div>
        </div>
        <div class="leaderboard-cell cell9">
          <div class="rating">9</div>
          <div class="stats"></div>
        </div>
        <div class="leaderboard-cell cell10">
          <div class="rating">10</div>
          <div class="stats"></div>
        </div>
      </div>
    </main>
{% endblock %}